.card{
    margin-bottom: 2rem;
    width: 25rem;
    display: inline-block !important;

    &-img-top{
        height: 20rem;
        object-fit: cover;
    }

    &-time{
        margin: 1.5rem;
    }
}

.content{
    text-align: center;
    align-items: center;

    &__para{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}